parameters:
  level: 6
  ignoreErrors:
    # 忽略操作 Model 类时的错误
    - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Builder\|Illuminate\\Database\\Eloquent\\Model::\$[a-zA-Z0-9\\_]+#'
    - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\|Illuminate\\Database\\Eloquent\\Model::[a-zA-Z0-9\\_]+\(\)#'
    - '#Access to an undefined property App\\Model\\[a-zA-Z0-9\\_]+::\$[a-zA-Z0-9\\_]+#'
  bootstrapFiles:
    - bootstrap/dependencies.php
    - public/index.php
  paths:
    - app
    - tests

